<!-- <app-notification></app-notification> -->
inbox

<div >
  <h2>inbox ({{badge}})</h2>
  <div  style="border: 0.0625rem solid #13132b ;" class="container card" *ngFor="let msg of messages">
      <div style="background-color: whitesmoke; "class="row card-body md">
          <h4> {{msg.title}}</h4>
          <div class="col col-lg-2 card-content">
              {{msg.content}}
          </div>
          <div class="col-md-auto card-content">
              <p>{{msg.sent}}</p>
          </div>
          <div class="col col-lg-2 card-content">
              <button (click)="deleteMessage(msg.id)"   nbButton outline status="danger">Delete</button>
          </div>
      </div>
  </div>
  <!-- <app-message></app-message> -->
</div>
