<form>
    <div class="form-group">


      <label>Title</label>

      <input [(ngModel)]="m.title" name="title" type="text" class="form-control" placeholder="title">

    </div>


    <div class="form-group">

      <label >Content </label>

      <input [(ngModel)]="m.content" name="content" type="text-area" class="form-control"  placeholder="content"></div>

    <div class="form-check">
        
    </div>
    <button (click)="addNewMessage()" type="button" class="btn btn-primary">Submit</button>
  </form>